body {
  background-color: rgb(20, 20, 20);
}

p {
  color: white;
  margin: 0;
}

.tile{
  background-color: burlywood;
  margin: 0;
}

.snake {
  background-color: green;
  margin: 0;
  
}

.block {
  width: 1.75vh;
  height: 1.75vh;
}